<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OWorkbench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="OverwatchPath" value="C:\Program Files (x86)\Overwatch"/>
        <add key="OutputPath" value="./"/>
    </appSettings>
    <userSettings>
        <OWorkbench.Properties.Settings>
            <setting name="Path_CurrentOW" serializeAs="String">
                <value>C:\Program Files (x86)\Overwatch\</value>
            </setting>
            <setting name="Path_Output" serializeAs="String">
                <value>.\\</value>
            </setting>
            <setting name="TAB_LIST_ModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TAB_LIST_OutputJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TAB3_ModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TAB3_FormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TAB3_LosslessTexture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TAB3_LOD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TAB3_NoExtract" serializeAs="String">
                <value />
            </setting>
            <setting name="TAB3_NoConvert" serializeAs="String">
                <value />
            </setting>
            <setting name="TAB3_NoEnvExtract" serializeAs="String">
                <value />
            </setting>
            <setting name="TAB_SETTINGS_OutputPath" serializeAs="String">
                <value>.\\</value>
            </setting>
            <setting name="TAB_SETTINGS_LangIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TAB_QUICKSTART_LoggingOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </OWorkbench.Properties.Settings>
    </userSettings>
</configuration>
