<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuickDataTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="OverwatchPath" value="C:\Program Files (x86)\Overwatch"/>
        <add key="OutputPath" value="./"/>
    </appSettings>
    <userSettings>
        <QuickDataTool.Properties.Settings>
            <setting name="Path_CurrentOW" serializeAs="String">
                <value>C:\Program Files (x86)\Overwatch\</value>
            </setting>
            <setting name="Path_Output" serializeAs="String">
                <value>.\\</value>
            </setting>
        </QuickDataTool.Properties.Settings>
    </userSettings>
</configuration>
